
@import '../../node_modules/normalize.css/normalize';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './base';

$main-color: #111;
$second-color: #243224;
$third-color: #59b15c;
$main-shadow: #080808;
$main-text: rgb(221, 221, 221);
$second-text: #233628;

a {
    color: $third-color;
    text-decoration: none;
}

img {
    filter: brightness(0.8);
}

/* Placement */

.main {
    flex: 1 0 auto;
    padding: 50px;
    background-color: $main-color;
}

.header {
    border-bottom: 2px solid $third-color;
}

.header,
.footer {
    background-color: $second-color;
    flex: 0 0 auto;
}

/* Header */

.nav-toggle {
    color: $third-color;
}

.nav a {
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: $third-color;
    color: $second-text;
}

.nav a:hover {
    background-color: $main-color;
    color: $main-text;
}

.title * {
    color: $main-text;
}

/* Footer */

.footer {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $third-color;
}

.footer a {
    color: $main-text;
}

/* Typografy */

body {
    font-family: sans-serif;
    line-height: 1.5rem;
    color: $main-text;
}

/* Technologies, flex */

.technology {
    background-color: $third-color;
    border-radius: 5px;
    padding: 40px;
    height: calc(150px + 2vw);
    box-shadow: 5px 5px 5px $main-shadow;
}

.technology:hover {
    background-color: #2f6847;
}

.t-a {
    text-decoration: none;
    color: $second-text;
}

.sidebar {
    height: fit-content;
    background-color: $third-color;
    color: $second-text;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 5px 5px 5px $main-shadow;
}

.sidebar h3 {
    color: $second-text;
}

.sidebar a {
    color: $second-text;
    text-decoration: none;
    padding-bottom: 5px;
}

/* embed */

.embed-container {
    background-color: $main-color;
}
